.App {
  text-align: center;  
  color: white ;  
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000000 !important;
  overflow: hidden;
  padding: 1rem;
}

.btn-theme {
  background-color: #b674b1;
  color: #ffffff;
  border-radius: .5rem;
  font-family: inherit;  
  border: none;  
}

.social {
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  padding:.2rem;
  height: 2.5rem;
  width: 2.5rem;
}

.navbar {
  position: absolute;
  top: 20;
  width: 100vw;
  z-index: 10;
}