@font-face {
  font-family: "Futura XBlk BT";
  src: local("Futura XBlk BT"),
    url("./fonts/Futura XBlk BT.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'Futura XBlk BT' !important;
}

code {
  font-family: 'Futura XBlk BT';
}
